/* login.css */
.login-container {
  display: flex;
  height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la pantalla */
  width: 100vw; /* Asegura que el contenedor ocupe toda la anchura de la pantalla */
  background-image: url('../assets/fcondominio.jpg');
  background-size: cover; /* Hace que la imagen cubra toda el área disponible */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  justify-content: center; /* Centra el contenido */
  align-items: center; /* Centra verticalmente */
}

/* Lado izquierdo: formulario de inicio de sesión */
.login-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* Alinea el formulario más a la izquierda */
  padding: 20px;
}

.logo-box {
  width: 200px;
  height: 100px;
  border: 2px solid #a275e0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-size: 20px;
  color: #333;
}

.login-form {
    width: 35%;
    max-width: 600px; /* Asegura que el formulario no exceda los 600px */
    padding: 20px;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    gap: 20px; /* Aumentar espacio entre los elementos */
    margin: auto; /* Esto asegura que el formulario se mantenga centrado */
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 202px;
  background-color: #ffffff;
  color: #000000;
}

.login-form label {
  width: 100%;
  margin-bottom: 5px;
  font-size: 14px; /* Reducimos el tamaño de fuente de los labels */
}

.login-form button {
  width: 100%;
  padding: 10px;
  background-color: #a275e0;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.login-form button:hover {
  background-color: #9157c1;
}

/* Caja de registro debajo del formulario */
.register-box {
  margin-top: 15px;
  margin-left: 36%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco ligeramente transparente */
  padding: 15px;
  border-radius: 10px;
  width: 300px; /* Alinea el ancho de la caja con el formulario */
}

.register-box a {
  color: #9157c1;
  text-decoration: none;
}

.register-box .register-button {
  margin-top: 10px;
  padding: 6px;
  background-color: #a275e0;
  color: #000000;
  border: none;
  border-radius: 18px;
  cursor: pointer;
}


/* Lado derecho: bloque cuadrado pequeño */
.login-right {
  width: 300px; /* Ancho fijo */
  height: 250px; /* Altura igual al ancho para hacerlo cuadrado */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(162, 117, 224, 0.8); /* Color morado */
  color: #333; /* Color negro para la letra */
  padding: 20px;
  position: relative; /* Hacemos que el bloque pueda ser posicionado */
  top: -6%; /* Mueve el bloque hacia arriba */
  left: -23%; /* Mueve el bloque hacia la izquierda */
  border-radius: 10%;
}

.login-right h2 {
  margin-bottom: 10px;
  font-size: 35px;
  color: black; /* Cambiado a color negro */
}

.login-right p {
  font-size: 20px;
  line-height: 1.5;
  color: black; /* Cambiado a color negro */
}


.input-container {
  position: relative;
  width: 100%;
}

.input-container .clear-icon,
.input-container .toggle-password {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  cursor: pointer;
  font-size: 16px;
  color: #000000;
}